<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="psw"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-toolbar slot="end">

        <ion-button (click)="ingresar()">Ingresar</ion-button>
        <ion-button [routerLink]="['/registro']">Registrarse</ion-button>

      </ion-toolbar>
    </ion-card-content>
  </ion-card>
</ion-content>
<br>
<ion-footer>
  <ion-toolbar color="danger">
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>