<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>ForgotMySupport</ion-card-title>
    </ion-card-header>

    <ion-img src="assets/images/undraw_people_ka7y.svg"alt="Gente"></ion-img>

    <ion-card-content>
      <form [formGroup]="formularioLogin" (ngSubmit)="ingresar(formularioLogin.value)">
        <ion-item>
          <br>
          <ion-input  label="Email" type="Email" label-placement="floating" fill="solid" placeholder="example@gmail.com" formControlName="email"></ion-input>
        </ion-item>
        <div>
          <ng-container *ngFor="let error of formErrors.email">
            <ion-label
             color="danger" 
             *ngIf="(formularioLogin.get('email')?.hasError('error.type') && formularioLogin.get('email')?.dirty)">
             {{error.message}}
            </ion-label>
          </ng-container>
        </div>
    
        <ion-item>
          <br>
          <ion-input  label="Contraseña" type="Password" label-placement="floating" fill="solid" placeholder="Adsaw12$#*" formControlName="pws"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-toolbar slot="end">

        <ion-button type="submit"
        [disabled]="!formularioLogin.valid"
        (click)="ingresar(formularioLogin.value)" >Ingresar
        </ion-button><br>
        <ion-label position="floating">¿No tienes cuenta?</ion-label>
        <br>
        <ion-button (click)="goRegistro()">Registrarse</ion-button>

      </ion-toolbar>
    </ion-card-content>
  </ion-card>
</ion-content>
<br>
<ion-footer>
  <ion-toolbar color="danger">
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>